p.p1{
	background:#9AF4EF;
	border:10px solid black;
}
p.p2{
	background:#9AF4EF;
	border:5px solid black;
}
p.p3{
	background:#9AF4EF;
	border:3px solid black;
}
h1{
	background-color:#9AF4EF;
	padding:10px;
}
